<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>

<h1>Create a Tweet</h1>

<form action="/tweets" method="post">
  <p>Tweet:<input type="text" id="content" name="content" id="tweet_content"></p>
  <input type="submit" id="submit" value="Tweet">
</form>
